@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* === Container === */
  --container-center: true;
  --container-padding: 1.25rem;

  /* === Custom Colors === */
  --color-primary: #00d991;
}
